body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 18px;
    gap: 3px;
    align-items: flex-end;
    
   
}
.menu-line {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
   
    
}


.nav-menumobile{
    display: none;

}

.nav-menumobile.open {
    display: flex;
    justify-content: flex-end;
    
    
}
.menu-line.open {
    display: block;
}

.nav-menumobile ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    text-align: center;
    margin-top: 15px;
    background-color: #292929;
    justify-content: flex-end;
    border-radius: 5px;
    width: 100px;
}


.nav-menumenumobile li {
    margin-bottom: 10px;
    text-align: center;
    
}
.espacoRedesSociais {
    display: flex;
    width: 100%;
    height: 40px;
    flex-direction: row;
   
}
.espacoRedesSociais img {
    padding-top: 15px;
    width: auto;
    height: 50%;
    
}

.nav-menumenumobile li a {
    color: #fff;
    text-decoration: none;
    
}

.menuCabecalho.open {
    display: block;
}

.menuCabecalho ul {
    list-style-type: none;
    padding: 0;
}

.menuCabecalho li {
    margin-bottom: 10px;
}

.menuCabecalho li a {
    color: #fff;
    text-decoration: none;
}

.menuPadrao {
    display: block;
}

.menu-icon {
    display: none; /* Mostrar o ícone do menu por padrão */
}

@media (max-width: 429px) {
    .menuPadrao {
        display: none; /* Exibir o menu para larguras de tela menores que 430px */
    }
    
    .menu-icon {
        display: flex; /* Esconder o ícone do menu para larguras de tela menores que 430px */
        
    }
}